<div class="container">
  <div
    class="search-container d-flex align-items-center justify-content-center"
  >
    <form
      class="w-50 text-center search-panel"
      #searchForm="ngForm"
      (ngSubmit)="searchForm.form.valid && search()"
      id="itemForm"
      name="itemForm"
      novalidate
    >
      <input
        id="searchString"
        name="searchString"
        #searchStringInput="ngModel"
        [(ngModel)]="searchString"
        class="form-control placeholder-center"
        [required]="true"
        placeholder="Company Name or Number"
        (keyup.enter)="search()"
        required
      />

      <div>
        <small
          class="text-danger"
          [class.invisible]="!searchForm.submitted || !searchStringInput.errors"
        >
          <span>Please enter a search string</span>
        </small>
      </div>

      <div>
        <button type="submit" class="btn btn-primary mt-4 px-5">Search</button>
      </div>
    </form>
  </div>
</div>
